@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero {
    @apply w-full text-[#333];
  }
}

a:focus,
input:focus,
textarea:focus,
select:focus,
button:focus,
div:focus,
section:focus,
form:focus {
  outline: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  scroll-behavior: smooth;
}

html,
body,
#__next {
  -webkit-tap-highlight-color: transparent;
  @apply h-full bg-indigo-600 text-white overflow-auto overflow-x-hidden;
}

/* button {
  @apply bg-indigo-600 px-4 py-2 rounded hover:bg-indigo-300 hover:text-black shadow-md focus-within:bg-indigo-300 focus-within:text-black;
} */
